[submodule ".nvm"]
	path = .nvm
	url = git://github.com/creationix/nvm.git
[submodule "bin/git-lava"]
	path = bin/git-lava
	url = git://github.com/chrisjaure/git-lava.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
