[user]
	name = Chris Jaure
	email = chrisjaure@gmail.com

[core]
	autocrlf = input
	whitespace = space-before-tab,trailing-space

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[alias]
	co = checkout
	d = diff
	ps = push
	st = status
	# Commit all changes
	ca = !git add -A && git commit -av
	# Ammend all changes to previous commit
	caa = !git ca --amend --reuse-message=HEAD
	# diff changes only committed in a branch compared to origin/master
	dm = !git diff origin/master...${1-HEAD}
	# list files modified by commits in branch compared to origin/master
	dmf = !git diff origin/master...${1-HEAD} --name-only

[color]
	ui = auto

[push]
	default = upstream

[rerere]
	enabled = 1